{% extends "base.html" %}

{% block content %}

<h3>Filter Products</h3>

<a href="/filter?category=Laptop" class="btn btn-outline-primary">
Laptop
</a>

<a href="/filter?category=Mobile" class="btn btn-outline-success">
Mobile
</a>

<a href="/filter?category=Accessories" class="btn btn-outline-warning">
Accessories
</a>

<a href="/filter?category=TV" class="btn btn-outline-danger">
TV
</a>

<hr>

<div class="row">

{% for p in products %}

<div class="col-md-4">

<div class="card shadow mb-3">

<div class="card-body">

<h5>{{p[1]}}</h5>

<p>₹{{p[3]}}</p>

<p>Stock : {{p[4]}}</p>

</div>

</div>

</div>

{% endfor %}

</div>

{% endblock %}