{% extends "base.html" %}

{% block content %}

<div class="p-5 mb-4 bg-primary text-white rounded-3 shadow">

    <div class="container">

        <h1 class="display-4">
            Electronic Inventory System
        </h1>

        <p class="lead">
            Welcome {{ current_user.name }}!
        </p>

        <p>
            Buy electronic products easily. Search products, place orders,
            and track your orders online.
        </p>



    </div>

</div>

<div class="row">

    <div class="col-md-4 mb-4">

        <div class="card shadow text-center">

            <div class="card-body">

                <h1>📱</h1>

                <h4>Mobiles</h4>

                <p>
                    Latest smartphones from Apple, Samsung,
                    OnePlus,and more.
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4 mb-4">

        <div class="card shadow text-center">

            <div class="card-body">

                <h1>📺</h1>

                <h4>Smart TVs</h4>

                <p>
                    Full HD, 4K and OLED Smart TVs
                    at the best prices.
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4 mb-4">

        <div class="card shadow text-center">

            <div class="card-body">

                <h1>💻</h1>

                <h4>Laptops</h4>

                <p>
                    Gaming, Business and Student laptops
                    from top brands.
                </p>

            </div>

        </div>

    </div>

</div>


{% endblock %}