{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="hero text-center shadow">

<h1 class="display-4 fw-bold">
Shop Inventory Management
</h1>

<p class="lead">
Manage Products, Stock and Search Inventory Easily
</p>

<a href="/products" class="btn btn-light btn-lg mt-3">
View Products
</a>

</div>

<div class="row mt-5">

<div class="col-md-4">
<div class="card shadow p-4 text-center">
<h3>📦 Products</h3>
<p>Manage all inventory products.</p>
</div>
</div>

<div class="col-md-4">
<div class="card shadow p-4 text-center">
<h3>📊 Stock</h3>
<p>Track available stock instantly.</p>
</div>
</div>

<div class="col-md-4">
<div class="card shadow p-4 text-center">
<h3>🔍 Search</h3>
<p>Search products quickly.</p>
</div>
</div>

</div>

{% endblock %}