{% extends "base.html" %}

{% block content %}

<div class="card shadow">

<div class="card-header bg-primary text-white">

Electronics Products

</div>

<table class="table table-hover">

<tr>
<th>ID</th>
<th>Name</th>
<th>Category</th>
<th>Price</th>
<th>Stock</th>
<th>Status</th>
</tr>

{% for p in products %}

<tr>

<td>{{p[0]}}</td>
<td>{{p[1]}}</td>
<td>{{p[2]}}</td>
<td>₹{{p[3]}}</td>
<td>{{p[4]}}</td>

<td>

{% if p[4] < 10 %}
<span class="badge bg-danger">Low Stock</span>
{% else %}
<span class="badge bg-success">Available</span>
{% endif %}

</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}