{% extends "base.html" %}

{% block content %}

<h3>Dashboard</h3>

<div class="alert alert-danger">
    ⚠ Low Stock Items (<= 5)
</div>

<table class="table table-bordered">
    <tr>
        <th>ID</th><th>Name</th><th>Category</th><th>Stock</th>
    </tr>

    {% for p in low_stock %}
    <tr class="table-danger">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.category}}</td>
        <td>{{p.stock}}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<h4>All Products</h4>

<table class="table table-striped">
    <tr>
        <th>Name</th><th>Price</th><th>Stock</th>
    </tr>

    {% for p in products %}
    <tr>
        <td>{{p.name}}</td>
        <td>{{p.price}}</td>
        <td>{{p.stock}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}