{% extends "base.html" %}

{% block content %}

<h3>Search Products</h3>

<form method="POST">
    <input class="form-control" name="keyword" placeholder="Search product...">
    <button class="btn btn-primary mt-2">Search</button>
</form>

<hr>

{% if results %}
<table class="table table-bordered mt-3">
    <tr>
        <th>Name</th><th>Category</th><th>Stock</th>
    </tr>

    {% for r in results %}
    <tr>
        <td>{{r.name}}</td>
        <td>{{r.category}}</td>
        <td>{{r.stock}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}