{% extends "base.html" %}
{% block content %}
<h3>Orders</h3>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Category</th>
                <th>Qty</th>
                <th>Total Price</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order['id'] }}</td>
                <td>{{ order['product_name'] }}</td>
                <td>{{ order['category'] }}</td>
                <td>{{ order['quantity'] }}</td>
                <td>₹{{ order['total_price'] }}</td>
                <td>{{ order['delivery_mobile'] }}</td>
                <td>{{ order['delivery_address'] }}</td>
                <td>{{ order['order_date'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}